color1 {
	color: #083D77;
	color: #EBEBD3;
	color: #F4D35E;
	color: #0A0908;
	color: #49111C;
}

color2 {
	color: #083D77;
	color: #EE964B;
	color: #F95738;
	color: #F2F4F3;
}

color3{
	color: #FCDE9C;
	color: #FFA552;
	color: #BA5624;
	color: #A9927D;
	color: #5E503F;
}

color4{
	color: #FFA552;
	color: #381D2A;
	color: #C4D6B0;
	color: #0A0908;
}

color5{
	color: #F18F01;
	color: #048BA8;
	color: #2E4057;
	color: #F7D1CD;
}

color6{
	color: #048BA8;
	color: #99C24D;
	color: #2F2D2E;
	color: #E8C2CA;
}

color7{ 
	color: #EECF6D;
	color: #D5AC4E;
	color: #8B6220;
	color: #720E07;
	color: #45050C;
}

color8{
	color: #5F5449;
	color: #9B6A6C;
	color: #B09398;
	color: #CEDFD9;
}

color9{
	color: #3891A6;
	color: #4C5B5C;
	color: #FDE74C;
	color: #DB5461;
}

color10{
	color: #C9CEBD;
	color: #B2BCAA;
	color: #838E83;
	color: #6C6061;
	color: #64403E;
}

color11{
	color: #E8F7EE;
	color: #B8C4BB;
	color: #663F46;
	color: #3C362A;
	color: #C9D6EA;
}

color12{
	color: #191308;
	color: #322A26;
	color: #454B66;
	color: #677DB7;
	color: #9CA3DB;
}

color13{
	color: #F1E0C5;
	color: #C9B79C;
	color: #71816D;
	color: #DA667B;
	color: #342A21;
}

color14{
	color: #001021;
	color: #034748;
	color: #1481BA;
	color: #11B5E4;
	color: #0CAADC;
}

color15{
	color: #2E86AB;
	color: #A23B72;
	color: #F18F01;
	color: #C73E1D;
	color: #3B1F2B;
}

color16{
	color: #32292F;
	color: #575366;
	color: #6E7DAB;
	color: #5762D5;
	color: #D1E3DD;
}

color17{
	color: #E76B74;
	color: #D7AF70;
	color: #937D64;
	color: #585B56;
}

color18{
	color: #8CFF98;
	color: #AAD922;
	color: #6F7C12;
	color: #483519;
	color: #000000;
}

color19{
	color: #D4DCFF;
	color: #7D83FF;
	color: #007FFF;
	color: #1AFFD5;
	color: #590925;
}

color20{
	color: #3E442B;
	color: #6A7062;
	color: #8D909B;
	color: #AAADC4;
	color: #D6EEFF;
}