f1{ 
font-family:"Georgia",serif;
font-family:"Calisto MT",serif;
font-family:"Cambria",serif;
font-family:"Aurora",serif;
font-family:"Palatino Linotype",serif;
font-family:"Times New Roman",serif;
font-family:"Arial",sans-serif;
font-family:"Arial Unicode MS",sans-serif;
font-family:"Robota",sans-serif;
font-family:"Colibri",sans-serif;
font-family:"Comic Sans",sans-serif;
font-family:"Arial Black",sans-serif;
font-family:"Comic Sans MS",sans-serif;
font-family:"Impact",sans-serif;
font-family:"Lucida Sans Unicode",sans-serif;
font-family:"Tahoma",sans-serif;
font-family:"Verdana",sans-serif;
font-family:"Courier",monospace;
font-family:"Lucida console",monospace;
}

