C1{
	color:#BBDB9B;
	color:#ABC4A1;
	color:#9DB4AB;
	color:#8D9D90;
	color:#878E76;
}
C2{
	color:#283044;
	color:#78A1BB;
	color:#EBF5EE;
	color:#BFA89E;
	color:#8B786D;
}
C3{
	color:#FFFFFA;
	color:#0D5C63;
	color:#44A1A0;
	color:#78CDD7;
	color:#247878;
}
C4{
color:#363020;
color:#605C43;
color:#A39966;
color:#C7C7A6;
color:#EAFFDA;
}
C5{
	color:#3F0D12;
	color:#A71D31;
	color:#F1F0CC;
	color:#D5BF86;
	color:#8D775F;
}
C6{
	color:#040303;
	color:#3A4E48;
	color:#6A7B76;
	color:#8B9D83;
	color:#BEB0A7;
}
C7{
	color:#594157;
	color:#726DA8;
	color:#7D8CC4;
	color:#A0D2DB;
	color:#BEE7EB;
}
C8{
	color:#C3DFE0;
	color:#BCD979;
	color:#9DAD6F;
	color:#7D6D61;
	color:#5E574D;
}
C9{
	color:#FFFFFF;
	color:#E9FAE3;
	color:#DEE8D5;
	color:#D5C7BC;
	color:#AC92A6;
}
C10{
	color:#531CB3;
	color:#944BBB;
	color:#AA7BC3;
	color:#CC92C2;
	color:#DBA8AC;
}
C11{
	color:#EDC9FF;
	color:#FED4E7;
	color:#F2B79F;
	color:#E5B769;
	color:#D8CC34;
}
C12{
	color:#000807;
	color:#A2A3BB;
	color:#9395D3;
	color:#B3B7EE;
	color:#FBF9FF;
}
C13{
	color:#2E0219;
	color:#4A001F;
	color:#6A0F49;
	color:#A7C4C2;
	color:#97EFE9;
}
C14{
	color:#071013;
	color:#23B5D3;
	color:#75ABBC;
	color:#A2AEBB;
	color:#DFE0E2;
}
C15{
	color:#D4E09B;
	color:#F6F4D2;
	color:#CBDFBD;
	color:#F19C79;
	color:#A44A3F;
}
C16{
	color:#C0CAAD;
	color:#9DA9A0;
	color:#654C4F;
	color:#B26E63;
	color:#CEC075;
}
C17{
	color:#50514F;
	color:#B4ADEA;
	color:#FDFFF7;
	color:#59FFA0;
	color:#FFED65;
}
C18{
	color:#33658A;
	color:#86BBD8;
	color:#758E4F;
	color:#F6AE2D;
	color:#F26419;
	
}
C19{
	color:#484A47;
	color:#5C6D70;
	color:#A37774;
	color:#E88873;
	color:#E0AC9D;
}
C20{
	color:#3772FF;
	color:#F038FF;
	color:#EF709D;
	color:#E2EF70;
	color:#70E4EF;
}
