c1{
	color:#0D1F2D;
	color:#546A7B;
	color:#9EA3B0;
	color:#FAE1DF;
	color:#E4C3AD;
}
c2{
	color:#5E0B15;
	color:#90323D;
	color:#D9CAB3;
	color:#BC8034;
	color:#8C7A6B;
}
c3{
	color:#0B3C49;
	color:#731963;
	color:#FFFDFD;
	color:#CBD2D0;
	color:#F0E100;
}
c4{
	color:#D3D5D4;
	color:#A2C5AC;
	color:#9DB5B2;
	color:#878E99;
	color:#7F6A93;
}
c5{
	color:#DDDFDF;
	color:#DDDDDF;
	color:#D0C4DF;
	color:#DCABDF;
	color:#C792DF;
}
c6{
	color:#54494B;
	color:#F1F7ED;
	color:#91C7B1;
	color:#B33951;
	color:#E3D081;
}
c7{
	color:#F8FCDA;
	color:#E3E9C2;
	color:#F9FBB2;
	color:#7C6354;
	color:#A5ABAF;
}
c8{
	color:#7A6C5D;
	color:#2A3D45;
	color:#DDC9B4;
	color:#BCAC9B;
	color:#C17C74;
}
c9{
	color:#A0EEC0;
	color:#8AE9C1;
	color:#86CD82;
	color:#72A276;
	color:#666B6A;
}
c10{
	color:#A4243B;
	color:#D8C99B;
	color:#D8973C;
	color:#BD632F;
	color:#273E47;
}
c11{
	color:#F79F79;
	color:#F7D08A;
	color:#E3F09B;
	color:#87B6A7;
	color:#5B5941;
}
c12{
	color:#DBFE87;
	color:#FFE381;
	color:#CEC288;
	color:#6F8695;
	color:#1C448E;
}
c13{
	color:#7180AC;
	color:#2B4570;
	color:#A8D0DB;
	color:#E49273;
	color:#A37A74;
}
c14{
	color:#EBD4CB;
	color:#DA9F93;
	color:#B6465F;
	color:#890620;
	color:#2C0703;
}
c15{
	color:#B07156;
	color:#AB4E68;
	color:#533745;
	color:#9D9171;
	color:#C4A287;
}
c16{
	color:#84DCC6;
	color:#D6EDFF;
	color:#ACD7EC;
	color:#8B95C9;
	color:#478978;
}
c17{
	color:#2E294E;
	color:#EFBCD5;
	color:#BE97C6;
	color:#B661C1;
	color:#4B5267;
}
c18{
	color:#B47EB3;
	color:#FDF5BF;
	color:#FFD5FF;
	color:#92D1C3;
	color:#8BB8A8;
}
c19{
	color:#D3BDB0;
	color:#C1AE9F;
	color:#89937C;
	color:#715B64;
	color:#69385C;
}
c20{
	color:#F03A47;
	color:#AF5B5B;
	color:#F6F4F3;
	color:#276FBF;
	color:#183059;
}