c1{
	color:#734B5E;
	color:#BCBDC0;
	color:#565857;
	color:#8A8D91;
	color:#F5D3C8;
}
c2{
	color:#7A7265;
	color:#C0B7B1;
	color:#8E6E53;
	color:#C69C72;
	color:#433E3F;
}
c3{
	color:#52489C;
	color:#4062BB;
	color:#59C3C3;
	color:#EBEBEB;
	color:#F45B69;
}
c4{
	color:#E55934;
	color:#D9594C;
	color:#CE8D66;
	color:#C3BF6D;
	color:#B7B868;
}
c5{
	color:#3C1642;
	color:#086375;
	color:#1DD3B0;
	color:#AFFC41;
	color:#B2FF9E;
}
c6{
	color:#643A71;
	color:#8B5FBF;
	color:#D183C9;
	color:#E3879E;
	color:#FEC0CE;
}
c7{
	color:#001011;
	color:#093A3E;
	color:#3AAFB9;
	color:#64E9EE;
	color:#97C8EB;
}
c8{
	color:#3AB795;
	color:#A0E8AF;
	color:#86BAA1;
	color:#EDEAD0;
	color:#FFCF56;
}
c9{
	color:#B8B8F3;
	color:#D7B8F3;
	color:#F397D6;
	color:#F42272;
	color:#232E21;
}
c10{
	color:#8AA399;
	color:#7D84B2;
	color:#8FA6CD;
	color:#DBF4A7;
	color:#D5F9DE;
}
c11{
	color:#2C302E;
	color:#474A48;
	color:#909590;
	color:#9AE19D;
	color:#537A5A;
}
c12{
	color:#F6FEDB;
	color:#E6D3A3;
	color:#D8D174;
	color:#B6C454;
	color:#91972A;
}
c13{
	color:#FFCAB1;
	color:#69A2B0;
	color:#659157;
	color:#A1C084;
	color:#E05263;
}
c14{
	color:#DB7F67;
	color:#DBBEA1;
	color:#A37B73;
	color:#3F292B;
	color:#D34F73;
}
c15{
	color:#FFC4EB;
	color:#FFE4FA;
	color:#F1DEDC;
	color:#E1DABD;
	color:#ABC798;
}
c16{
	color:#270722;
	color:#ECCE8E;
	color:#DBCF96;
	color:#C2C6A7;
	color:#9AC2C5;
}
c17{
	color:#D7FDEC;
	color:#A9FBD7;
	color:#B2E4DB;
	color:#B0C6CE;
	color:#938BA1;
}
c18{
	color:#56CBF9;
	color:#7FBEEB;
	color:#AFBED1;
	color:#EAC5D8;
	color:#DBD8F0;
}
c19{
	color:#DCEED1;
	color:#AAC0AA;
	color:#736372;
	color:#A18276;
	color:#7A918D;
}
c20{
	color:#E4572E;
	color:#29335C;
	color:#F3A712;
	color:#A8C686;
	color:#669BBC;
}